In [1]:
import pandas as pd
import numpy as np
import warnings
with warnings.catch_warnings():
    warnings.filterwarnings('ignore')

In [2]:
xls = pd.ExcelFile('Budget and Sales python.xlsx')

In [3]:
df1 = pd.read_excel(xls, 'items')
df2 = pd.read_excel(xls, 'buyers')
df3 = pd.read_excel(xls, 'sales_real')
df4 = pd.read_excel(xls, 'purchase_real')
df5 = pd.read_excel(xls, 'operation_costs')
df6 = pd.read_excel(xls, 'visits')
df7 = pd.read_excel(xls, 'shopsLib')
df8 = pd.read_excel(xls, 'date_lib')

In [4]:
replacement_dict_sub_category = {
    "Кроссовки": "Sneakers",
    "Шлёпки": "Slippers",
    "Сапоги": "Boots",
    "Туфли": "Shoes",
    "Ремни": "Belts",
    "Запонки": "Cufflinks",
    "Мячики": "Balls",
    "Шапки": "Hats",
    "Кепки": "Caps",
    "Колготки": "Socks",
    "Майки": "Tops",
    "Футболки": "T-Shirts",
    "Штаны": "Trousers",
    "Рубашки": "Shirts",
    'тип':'type',
    'Запонка': 'Cufflinks',
    'Ремень' : 'Belt',
    'Мячик' : 'Ball',
    'Шапка' : 'Hat',
    'Кепка' : 'Cap',
    'Майка' : 'Top',
    'Футболка' : 'T-shirt',
    'Рубашка' : 'Shirt'
    
}

replacement_dict_category = {
    "Обувь": "Shoes",
    "Аксессуары": "Accessories",
    "Головные уборы": "Headwear",
    "Нижнее бельё": "Underwear",
    "Верхняя одежда": "Overclothes"
   
}


replacement_dict_size = {
    "б/р": "n/s",
    
}


replacement_dict_sex = {
    "Муж.": "M",
    "Жен.": "F",
    "Унисекс": "U",
    "М": "M",
    "Ж": "F",
   
}


replacement_dict_occupation = {
    "Госслужащий": "Civil servant",
    "Самозанятый": "Self-employed",
    "Офисный работник": "Clerk",
    "Студент" : "Student",
    "Безработный" : "Unemployed"
}

replacement_dict_color = {
    "бежевый": "beige",
    "чёрный": "black",
    "белый": "white",
    "жёлтый": "yellow",
    "зелёный": "green",
    "бирюзовый": "turquoise",
    "красный": "red"
}
replacement_dict_channel = {
    "Друзья": "Friends",
    "Интернет": "Internet",
    "Наружная реклама": "Outdoor advertising",
    "Радио": "Radio",
    "Случайно": "Incidental"
   
}  


replacement_dict_costs = {
    "Зарплата": "Salary",
    "Аренда": "Rent",
    "Коммунальные": "Utilities",
    "Охрана": "Security",
    "Канцтовары": "Stationery",
    "Маркетинг": "Marketing",
    "Прочие расходы": "Other expenses",
    "Закупка": "Purchase",
    "Трансфер": "Transfer"
   
   
}  

replacement_dict_supplier = {
    "Поставщик А": "Supplier A",
    "Поставщик Б": "Supplier B",
    "Поставщик В": "Supplier C"
   
}

In [5]:
df1['sub_category'] = df1["sub_category"].replace(replacement_dict_sub_category)
df1['category'] = df1["category"].replace(replacement_dict_category)
df1['size'] = df1["size"].replace(replacement_dict_size)
df1['sex'] = df1["sex"].replace(replacement_dict_sex)
df1['color'] = df1["color"].replace(replacement_dict_color)
df1['item_name'] = df1['item_name'].str.replace('|'.join(replacement_dict_sub_category.keys()), lambda x: replacement_dict_sub_category[x.group()])

C:\Users\konst\AppData\Local\Temp\ipykernel_17044\3747522952.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['item_name'] = df1['item_name'].str.replace('|'.join(replacement_dict_sub_category.keys()), lambda x: replacement_dict_sub_category[x.group()])

In [6]:
df2['occupation'] = df2["occupation"].replace(replacement_dict_occupation)
df2['sex'] = df2["sex"].replace(replacement_dict_sex)
df2['channel'] = df2["channel"].replace(replacement_dict_channel)

In [7]:
df3['item'] = df3['item'].str.replace('|'.join(replacement_dict_sub_category.keys()), lambda x: replacement_dict_sub_category[x.group()])

C:\Users\konst\AppData\Local\Temp\ipykernel_17044\14387981.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df3['item'] = df3['item'].str.replace('|'.join(replacement_dict_sub_category.keys()), lambda x: replacement_dict_sub_category[x.group()])

In [8]:
df4['operation_type(purchase/transfer)'] = df4["operation_type(purchase/transfer)"].replace(replacement_dict_costs)
df4['supplier'] = df4["supplier"].replace(replacement_dict_supplier)
df4['item'] = df4['item'].str.replace('|'.join(replacement_dict_sub_category.keys()), lambda x: replacement_dict_sub_category[x.group()])

C:\Users\konst\AppData\Local\Temp\ipykernel_17044\3576516937.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df4['item'] = df4['item'].str.replace('|'.join(replacement_dict_sub_category.keys()), lambda x: replacement_dict_sub_category[x.group()])

In [9]:
df5['cost_type'] = df5["cost_type"].replace(replacement_dict_costs)

In [10]:
display(df5.head())

        date  shop_id   cost_type     cost_plan     cost_real
0 2016-01-01        1      Salary  11077.962025  12173.584643
1 2016-01-01        1        Rent   5050.000000   5050.000000
2 2016-01-01        1   Utilities   1007.040364    932.444781
3 2016-01-01        1    Security    598.629549    554.286620
4 2016-01-01        1  Stationery    320.139375    266.782812

In [11]:
csv_path = 'C:\\Users\\konst\\Documents\\pythonBI\\items.csv'
df1.to_csv(csv_path, index=False)

csv_path = 'C:\\Users\\konst\\Documents\\pythonBI\\buyers.csv'
df2.to_csv(csv_path, index=False)

csv_path = 'C:\\Users\\konst\\Documents\\pythonBI\\sales_real.csv'
df3.to_csv(csv_path, index=False)

csv_path = 'C:\\Users\\konst\\Documents\\pythonBI\\purchase_real.csv'
df4.to_csv(csv_path, index=False)

csv_path = 'C:\\Users\\konst\\Documents\\pythonBI\\operation_costs.csv'
df5.to_csv(csv_path, index=False)

csv_path = 'C:\\Users\\konst\\Documents\\pythonBI\\visits.csv'
df6.to_csv(csv_path, index=False)

csv_path = 'C:\\Users\\konst\\Documents\\pythonBI\\shopsLib.csv'
df7.to_csv(csv_path, index=False)

csv_path = 'C:\\Users\\konst\\Documents\\pythonBI\\date_lib.csv'
df8.to_csv(csv_path, index=False)